a:link{text-decoration:none;font-size:14px;color:blue}
a:visited{text-decoration:none;font-size:14px;color:blue}
a:hover{text-decoration:none;font-size:14px;color:black}
a.desc:link{text-decoration:none;font-size:14px;color:navy}
a.desc:visited{text-decoration:none;font-size:14px;color:navy}
a.desc:hover{text-decoration:none;font-size:14px;color:yellow}
a.menu:link{text-decoration:none;font-size:14px;font-weight: bold; color:black}
a.menu:visited{text-decoration:none;font-size:14px;color:black}
a.menu:hover{text-decoration:none;font-size:14px;color:blue}
body{font-family:"Verdana";font-size:14px;scrollbar-face-color: #78BC94;scrollbar-highlight-color:#BDD3F4;scrollbar-shadow-color: #78BC94;scrollbar-3dlight-color:#78BC94;scrollbar-arrow-color: #BDD3F4;scrollbar-track-color:#B9EB96	;scrollbar-darkshadow-color: black;}
.mes{font-family:Verdana,tahoma;font-size:14px;line-height:25px;color:black;text-align:justify;}
.mes img{max-width:480px}
sup{font-family:Verdana,tahoma;font-size:14px;color:yellow;font-weight:bold;}
.admin{font-family:Verdana,tahoma;font-size:14px;color:yellow;font-weight:bold;text-align:justify;}
.desc{font-family:Verdana,tahoma;font-size:13px;line-height:20px;color:black;}
.dat{font-family:Verdana,tahoma;font-size:14px;color:yellow;font-weight:bold;}
.head{font-family:Verdana,tahoma;font-size:14px;color:yellow;font-weight:bold;}
.button{font-family:Verdana;font-weight:bold;font-size:14px;color:black;background:#A0C0F0;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:100px}
.tr{color:black;border: black;border-style: solid;border-top-width:1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
table{text-align:center;}
.input,.textarea,.select{font-family:Verdana;font-size:14px;color:black;background:#A0D8F8	;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:250px}
#input,#textarea,#select{background:white;}
.ssinput{font-family:Tahoma;font-size:14px;color:#000000;background:#FFFFFF;border: #CCCCCC;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:41px}
.sinput{font-family:Verdana;font-size:14px;color:black;background:#A0D8F8	;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:60px}
.msinput{font-family:Verdana;font-size:14px;color:black;background:#A0D8F8	;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:90px}
.minput{font-family:Verdana;font-size:14px;color:black;background:#A0D8F8	;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:120px}
.binput{font-family:Verdana;font-size:14px;color:black;background:#A0D8F8	;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:500px}
.lb{padding-right:3px;display:block}
.cb{padding-right:3px;display:block;background-color:#0a246a;color:#fff;}
.multi1{text-align:left;font:11px Tahoma,tahoma;width:250px;border: 1px solid #527B90}
.multi2{background:#fff; overflow:auto;height:120px}
.multis{background:#fff; overflow:auto;height:60px}
a.forum_mod{text-decoration: none;color:yellow}
.selectm { FONT-SIZE: 10px;  WIDTH: 100px; height: 60px; FONT-FAMILY: verdana, Arial, Helvetica, sans-serif}
.inputm {font-family:tahoma,Verdana;font-size:14px;height: 60px; color:#000000;background:#FFFFFF;border: #CCCCCC;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:250px}
.mselect {font-family:tahoma,Verdana;font-size:14px;color:#000000;background:#FFFFFF;border: #CCCCCC;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:250px;height:50px}
.quote{background: #FAFCFE;border: 1px dotted #000;border-left: 4px solid #8394B2;border-top: 0;color: #465584;padding: 4px;margin: 0 auto 8px auto;}
.forummsg { FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, sans-serif; color:#343434}
.highlight0 {background-color:yellow;font-weight:bold;color: yellow;}
.highlight1 {background-color:lime;font-weight:bold;color: yellow;}
.highlight2 {background-color:aqua;font-weight:bold;color: yellow;}
.highlight3 {background-color:#FFD6B2;font-weight:bold;color: yellow;}
.highlight4 {background-color:#FFD5D5;font-weight:bold;color: yellow;}
.highlight5 {background-color:#C8BCFF;font-weight:bold;color: yellow;}
.highlight6 {background-color:#C4FFD3;font-weight:bold;color: yellow;}
.tool-tip {color: #000;width: 130px;z-index: 13000;}
.tool-title {font-weight: bold;	font-size: 14px;	margin: 0;	color: yellow;	padding: 8px 8px 4px;	background: #92A9BB;border: 1px solid #658499;}
.tool-text {font-size: 14px;padding: 4px 8px 8px;	background: #92A9BB;border: 1px solid #658499;}
.forum_input {font-family:Tahoma;font-size:14px;color:#000000;background:#FFFFFF;border: #CCCCCC;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:348px}
.content img {width: 100%; max-width: 345px; height: auto}

#photoday img {max-width: 120px; width: 100%; height: auto;}
.yellow {color: #FFFF00; font-weight: bold;}
.link2 {font-size: 14px !important;display: inline-block;padding: 5px; margin: 5px 0;background: #BDD3F4}
.mes.prof tr:nth-child(2n){background-color: #84B8D7}
#banner_top iframe{margin: 0 auto !important}

#cookie_attention{
    width: calc(100% - 30px);
    padding: 0 5px;
    height: auto;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #C8BCFF;
    border: yellow solid 3px;
    text-align: center;
    font-size: 14px;
    z-index: 1000;
}

#term_attention{
    width: calc(100% - 6px);
    padding: 0 5px;
    height: auto;
    background-color: #C8BCFF;
    border: yellow solid 3px;
    text-align: center;
    font-size: 14px;
}

#cookie_attention .approve_button, #term_attention .approve_button{
    background-color: navy;
    color: yellow;
    padding: 10px;
    font-size: 20px;
}

#cookie_attention.hide{
    display: none;
}

.email_again{
    display: none;
}