#Menu,#Menu * { margin:0;padding: 2px;text-align:center;}
#Menu {position:relative;color:#000;background:#73AED2 no-repeat 100% 50%;width:99%;max-width:99%;float:left;margin-bottom:0em;border-bottom:0px;}
#Menu li ul {	width:10em !important;	cursor:default;	position:absolute;	height:auto;	display:none;	left:-10px;	padding:2px 10px 10px 10px;}
#Menu li {	position:relative;	width:10em;	max-width:16%;	cursor:pointer;	float:left;	list-style-type:none;	font-weight:bold;}
#Menu li ul li {	width:10em;	padding:0;	border:none;	max-width:120%;}
#Menu li a {color:#FFDC9E;	text-decoration:none;	display:block;	float:center;	height:1em;	line-height:1.2em;	padding:2px 2px 4px 4px;margin:0px;}
#Menu li ul li a {	width:12em;	position:relative !important;	cursor:pointer !important;	white-space:nowrap;	line-height:1.7em;	height:1.7em;	font-weight:normal;	color:#000;	background-position:0 0% !important;}
#Menu li a:hover,#Menu li a:focus,#Menu li a:active {color:#000;background:#A0C0F0;}
#Menu ul a:hover,#Menu ul a:focus,#Menu ul a:active {color:#000 !important;background:#A0C0F0}
#Menu li:hover ul,#Menu li.msieFix ul {display:block;z-index:10;top:20px !important;}
#Menu li#AB {z-index:6;}
.AB #Menu li#AB a,.AB #Menu li#AB ul {display:block;top:-1000px;text-align:center;}
#AB,#AB li a {background-color:#73AED2;	text-align:center;}
#Menu li.msieFix a {}
#Menu li#UZ ul {left:-2.3em !important;}
.AB #Menu li#AB ul li a:focus,
.AB #Menu li#AB ul li a:active {position:absolute !important;top:1028px !important;}