body{background-color: #BDD3F4;overflow-x: hidden;}

.dark-blue{background-color: #73AED2;}
#banner_top img{max-width: 100%; height: auto;}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position: relative;
    min-height: 100vh;
    overflow-x: visible;
    /* don't forget to add all the previously mentioned styles here too */
    color: #fff;
    transition: all 0.3s;
    width: 0;
}

#sidebar_in{
    background: #73AED2;
    position: absolute;
    padding: 70px 10px 10px 10px;
    width: 180px;
    transition: all 0.3s;
    left: -180px;
    height: 100%;
    min-height: 100vh;
    z-index: 500;
}

#sidebar.active #sidebar_in{
    left: 0px;
    box-shadow: 5px 0 10px -5px black;
}

#sidebarButton{
    position: fixed; 
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    top: 0px;
    left: 0px;
    z-index: 1000;
}

#sidebarCollapse{
    position: absolute;
    top: 20px; 
    left: 20px;  
    text-align: center; 
}

#content {
    width: 100%;
}

.card {
    background-color: #A0C0F0;
}

.card-header{
    background-color: #73AED2;
    font-weight: bold;
}

.card-footer{
    background-color: #84B8D7;
}

.email_again{
    display: none;
}

#newalert {
    font-size: 1rem;
}